# add this requirement.txt file using given instructions
# First read the README.md file
# add this rewuirment.txt file to your notebook

ipykernel
ipython
langchain-openai
openai
python-dotenv
requests
gradio
